@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

html{
    background: #666;
}

body {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    border: 10px solid black;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

header{
    width:1000px;
    height: 400px;
    background: url("../images/header.jpg");

}

h1 {
    margin:0;
    font-size: 120px;
    color:#fff;
    text-transform: uppercase;
    padding-top:120px;
}

h2 {
    margin:0;
    font-size:18px;
    color: #666;
    padding-top: 30px;
    text-transform: uppercase;
}

p {
    margin:0;
    font-size: 30px;
    color:#fff; 
    line-height: 50px;
    padding:90px;
}

.top{
    width:1000px;
    height: 300px;
    background: #5a0707;
    
}

.middle{
    width:1000px;
    height: 300px;
}

.bottom{
    width:1000px;
    height: 300px;
    background: #062746;
}

footer{
    width:1000px;
    height: 75px;
    background: #000;
}

.author{
    color:#000;

